body {
    background-color: rgb(199, 199, 177);
    font-family: 'Syne Mono', monospace;
}

.container {
    width: fit-content;
    margin: auto;
}

table {
    border: black 2px solid;
    /* margin: 0; */
    border-collapse: collapse;
}

thead tr {
    border: black 2px solid;
    border-collapse: collapse;
    background-color: rgb(98, 127, 128);
}

th {
    border: black 2px solid;
    border-collapse: collapse;
    padding: 50px auto;
    font-size: 1.2em;
    width: 16%;
}

tr {
    border: black 2px solid;
    border-collapse: collapse;
    background-color: rgb(238, 238, 195);
}

td {
    border: black 2px solid;
    border-collapse: collapse;
}

tr:nth-child(2n){
    background-color: rgb(179, 179, 166);
}

#delete-header {
    width: 10%;
    background-color: rgb(34, 36, 29);
}

#monthly-total {
    float: right;
}

.delete-button {
    align-items: center;
}

.shadow {
    box-shadow: rgba(169, 169, 169, 0.616) 4px 6px 2px;
}

input {
    background-color: rgb(211, 211, 211);
}